<div class="profiler">
  <div class="pp">
    <img src="../../assets/PPSardoche.jpg" alt="PP.jgp" class="imgPP" />
    <h3 class="peplCode">@{{ people.code }}</h3>
    <div class="rating">
      <div *ngFor="let fv of five; let i= index">
        <img  *ngIf="i >= people.rating; else elseBlock" class="star" src="../../assets/icon/starV.png" class="star" />
        <ng-template #elseBlock>
            <img  class="star" src="../../assets/icon/star.png" class="star" />
        </ng-template>
    </div>
    </div>
  </div>
  <div class=" info">
        <p><span class="Intitule">Bio : </span>{{people.bio}}</p>
        <p><span class="Intitule">Date d'inscription : </span>{{people.dateInscription}}</p>
        <p><span class="Intitule">Date de naissance : </span>{{people.dateNaissance}}</p>
        <p><span class="Intitule">Lieu : </span>{{people.lieu}}</p>
        <p><span class="Intitule">lien : </span>{{people.lien}}</p>

  </div>
</div>
