<img src="" alt="">
<div class="profiler">
  <div class="pp">
    <img src="{{userslec.profile_background_image_url}}" alt="PP.jgp" class="imgPP" />
    <h3 class="peplCode">{{ userslec.name }}</h3>
    <h3 class="peplCode">{{ userslec.screen_name }}</h3>
    <div *ngIf="noteUser; else elseBlockAll" class="rating">
      <div *ngFor="let fv of five; let i = index">
        <img
          *ngIf="i >= noteUser; else elseBlock"
          class="star"
          src="../../assets/icon/starV.png"
          class="star"
        />
        <ng-template #elseBlock>
          <img class="star" src="../../assets/icon/star.png" />
        </ng-template>
      </div>
    </div>
    <ng-template #elseBlockAll>
      <div class="rating">
        <div *ngFor="let fv of five; let i = index">
          <img
            (click)="addStar(i)"
            class="star"
            src="../../assets/icon/starV.png"
          />
        </div>
      </div>
    </ng-template>
  </div>
  <div class=" info">
    <p><span class="Intitule">Description : </span>{{ userslec.description }}</p>
    <p><span class="Intitule">Lieu : </span>{{ userslec.location }}</p>
    <p><span class="Intitule">Lien : </span>{{ userslec.url }}</p>
  </div>
</div>
