.navbar-container {
    padding: 10px;
    width: 100%;

    .top-navbar-container {
        border-radius: 5px;
        box-shadow: -7px -7px 15px rgba($color: #ffffff, $alpha: .9), 7px 7px 15px rgba($color: #363636, $alpha: .15);
        padding: 5px 15px;
    }
}