@import '../../styles.scss';

.navbar-container {
    padding: 10px;
    width: 100%;

    .top-navbar-container {
        border-radius: 5px;
        box-shadow: $neumorphism-shadow;
        padding: 5px 15px;
    }
}