<div class="user-infos-container">
    <div class="user-main-infos">
        <img class="user-pp" [attr.src]="userInfos.profile_image_url" alt="User picture profile">
        <div class="names">
            <h4 class="user-screen-name">{{ userInfos.name }}</h4>
            <h5 class="user-screen-name">@{{ userInfos.screen_name }}</h5>
        </div>
    </div>
    <div class="user-follow-infos">
        <p class="following"><span class="amount">{{ userInfos.friends_count }}</span> Following</p>
        <p class="followers"><span class="amount">{{ userInfos.followers_count }}</span> Followers</p>
    </div>
    <hr>
    <div class="user-other-info">
        <p>{{ userInfos.statuses_count }} Tweets</p>
    </div>
</div>