<div class="tweet">
  <div class="container">
    <p class="profile"><img src="https://image-placeholder.com/images/actual-size/57x57.png" alt="Avatar">Sardoche<br>
      <div class="arobase">@Sardoche_Lol</div>
    </p>
    <p class="content">Ceci est le tweet</p>
  </div>
  <div class="undertweet">
    <img src="https://image-placeholder.com/images/actual-size/57x57.png" alt="Comment">
    <img src="https://image-placeholder.com/images/actual-size/57x57.png" alt="rt">
    <img src="https://image-placeholder.com/images/actual-size/57x57.png" alt="fav">
  </div>
</div>