/* You can add global styles to this file, and also import other style files */

$first-color: #2C50EE;
$bkg-color: #F4F4F4;
$grey : #848484;
$light-grey : #CECECE;
$white : #FFFFFF;
$black : #000000;
$neumorphism-shadow:-7px -7px 15px rgba($color: #ffffff, $alpha: .9), 7px 7px 15px rgba($color: #363636, $alpha: .15)

