@import "../../styles.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  .textarea {
    width: calc( 100% - 20px);
    min-height: 450px;
    border-radius: 28px;
    box-shadow: -9px 13px 16px 3px rgba(191, 191, 191, 1);
    border: 0;
    color: $dark-grey;
    font-size: 1.7rem;
    padding: 10px 0 0 20px;
    font-family: Montserrat;
    resize: none;
    &::placeholder {
      color: $light-grey;
      font-size: 2rem;
      // padding:10px 0 0 20px ;
      font-family: Montserrat;
    }
  }
  .btn {
    width: 30px;
    padding: 0;
    margin: 0;
    margin-top:-50px;
    margin-right:20px;
    .btn-img {
      width: 30px;
    }
  }
}
